@import "mq";

$color-1:#197caa;
$color-2:#aad8f1;

b, strong, i, cite, em, var, address, dfn {
    padding: 10px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    display: block !important;
    clear:both !important;
    font-family: "Guardian Text Sans Web", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight:normal;
    border-left: 10px solid $color-1 !important;

}

b, strong, i, cite, em, var, address, dfn {
        
    
}
i, cite, em, var, address, dfn {

    font-style:normal !important;

    @include mq(tablet){
        
    }

    border-left: 10px solid $color-2 !important;
    

}

h2{
    padding: 0 !important;
    background-color: none !important;
    b, strong {
        padding: 0 !important;
        background-color: none !important;
    }
}

.green-highlight{
    background-color: $color-1;
    color:#EFEFEF !important;
}

.maltby-highlight{
    background-color: $color-2;
}

.green-highlight, .maltby-highlight{
    padding: 2px 6px;
}

.membership__message-text strong{
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: block !important;
    clear:both !important;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-size: 18px !important;
    font-weight:bold !important;
    border-left: none !important;
}